*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
/********************************/
.header-section{
	width: 100%;
	background: url("../images/bg.png") center center no-repeat;
	background-size: cover;
}
.header-section .bg-light{
	width: 100%;
	background: #FFF9F3;
}
.header-section .navbar{
	width: 100%;
	background: rgba( 255, 249, 243, .8) !important;
}
/*.header-section .navbar-wrapper {
	width: 100%;
	position: relative;
	z-index: 15;
	background: rgb( 255, 249, 243) ;
}
.header-section .isStuck{
    left:0px;
    width:100%;
	background: rgba( 255, 249, 243, .8) !important;
}*/
.header-section .navbar-light .navbar-nav .nav-link {
    color: #5a6e79;
    margin: 0px 12px;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 0px;
}
.header-section .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ffc178 !important;
    outline: none;
    border-bottom: 1px solid #ffc178; 
}
.header-section .btn-info{
	padding: 10px 35px;
	background: #fff;
	color: #ffc178;
	border: 1px solid #fff;
	border-radius: 30px;
	font-size: 16px;
	margin-left: 10px;
	transition: 1s ease-in-out;
}
.header-section .btn-info:hover, .header-section .btn-info:focus{
	background: #ffc178;
	color: #fff;
	border: 1px solid #ffc178;
	box-shadow: none;
}
/*********************************/
.header-section .banner{
	width: 100%;
	padding: 200px 0px 210px;
}
.header-section .banner .banner-inner{
	width: 100%;
	padding: 0px 0px 150px;
}
.header-section .banner .banner-inner h1{
	font-size: 38px;
	line-height: 48px;
	font-weight: 700;
	color: #ffc178;
}
.header-section .banner .banner-inner p{
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	color: #5a6e79;
}
.header-section .banner .banner-inner .btn-info{
	padding: 10px 35px;
	margin-top: 10px;
	background: #ffc178;
	color: #fff;
	border: 1px solid #ffc178;
	border-radius: 30px;
	font-size: 16px;
	transition: 1s ease-in-out;
	margin-left: 0px;
}
.header-section .banner .banner-inner .btn-info:hover, .header-section .banner .banner-inner .btn-info:focus{
	background: #fff;
	color: #ffc178;
	border: 1px solid #ffc178;
	box-shadow: none;
}
/*****************************************/
.feature-section{
	width: 100%;
	padding: 0px 0px 30px;
	text-align: center;
}
.feature-section .title h1{
	font-size: 38px;
	line-height: 48px;
	font-weight: 700;
	color: #000;
	background: transparent !important;
}
.feature-section .title p{
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	color: #5a6e79;
}
.feature-section .service-inner{
	width: 100%;
	padding: 50px 35px;
	text-align: center;
}
.feature-section .bg-1{
	background-color: #f9703a;
}
.feature-section .bg-2{
	background-color: #80be41;
}
.feature-section .bg-3{
	background-color: #ffb258;
}
.service-inner h4{
	font-size: 24px;
	color: #fff;
	font-weight: 600;
}
.limitless{
	width: 100%;
	padding: 80px 0px 0px;
}
.limitless .img-fluid{
	margin-left: -60px;
}
.limitless .inner-text{
	width: 100%;
}
.inner-text h2{
	font-size: 38px;
	line-height: 48px;
	font-weight: 700;
	color: #000;
	padding-bottom: 15px;
}
.inner-text p{
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	color: #5a6e79;
}
.students{
	width: 100%;
	padding: 20px 0px;
}
.courses{
	width: 100%;
	padding: 20px 0px;
}
.hours{
	width: 100%;
	padding: 20px 0px;	
}
.students h1{
	font-size: 40px;
	font-weight: 700;
	color: #ffba00;
	margin-bottom: -5px;
}
.courses h1{
	font-size: 40px;
	font-weight: 700;
	color: #ff5f72;
	margin-bottom: -5px;
}
.hours h1{
	font-size: 40px;
	font-weight: 700;
	color: 	#43cb83;
	margin-bottom: -5px;
}
.students p{
	font-size: 18px;
	font-weight: 400;
	color: #ffba00;
	text-transform: uppercase;
}
.courses p{
	font-size: 18px;
	font-weight: 400;
	color: #ff5f72;
	text-transform: uppercase;
}
.hours p{
	font-size: 18px;
	font-weight: 400;
	color: 	#43cb83;
	text-transform: uppercase;
}
/*********************************/
.around{
	width: 100%;
	padding: 40px 0px;
}
.around .title{
	width: 100%;
	padding: 0px 0px 55px;
	text-align: center; 
}
.around .title h1{
	font-size: 38px;
	line-height: 48px;
	font-weight: 700;
	color: #000;
}
.around .card{
	margin: 15px 0px;
}
.around .card-title{
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
}
.around .card-body{
	padding: 1rem;
}
.around .card-text{
	font-size: 12px;
	color: #5a6e79;
}
.around .btn-link{
	padding-left: 0px;
	color: #5a6e79;
	text-decoration: none; 
}
.around .card:hover .card-title{
	color: #ffc178;
	text-decoration: underline; 
}
.around .card:hover .btn-link{
	color: #000; 
}
/*************************************/
.footer-section{
	width: 100%;
}
.top-widget-footer{
	width: 100%;
	padding: 80px 0px;
	background: #252c3a;
}
.top-widget-footer .inner-widget{
	width: 100%;
}
.top-widget-footer .col-sm-4{
	padding-right: 5px;
}
.top-widget-footer .inner-widget img{
	margin-bottom: 20px; 
}
.top-widget-footer .inner-widget p{
	font-size: 14px;
	color: #969595;
	margin-bottom: 15px;
}
.top-widget-footer .inner-widget hr{
	background: #4a4a4a;
}
.top-widget-footer .inner-widget .social-icons{
	width: 100%;
}
.top-widget-footer .inner-widget .social-icons li{
	display: inline-block;
	list-style: none;
}
.top-widget-footer .inner-widget .social-icons li a{
	font-size: 18px;
	color: #4a4a4a;
	margin: 0px 15px 0px 0px;
}
.top-widget-footer .inner-widget .social-icons li a .fa-twitter:hover{
	color: #1DA1F2;
}
.top-widget-footer .inner-widget .social-icons li a .fa-linkedin-square:hover{
	color: #007BB6;
}
.top-widget-footer .inner-widget .social-icons li a .fa-facebook-square:hover{
	color: #3B579D;
}
.top-widget-footer .inner-widget .social-icons li a .fa-skype:hover{
	color: #028CCA;
}
.top-widget-footer .inner-widget .social-icons li a .fa-pinterest-square:hover{
	color: #E71A21;
}
.top-widget-footer .inner-widget .social-icons li a .fa-apple:hover{
	color: #666666;
}
.top-widget-footer .inner-widget h4{
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 30px;
}
.top-widget-footer .inner-widget .list-group-item{
	font-size: 14px;
	position: relative;
	display: block;
	padding: 8px 0px;
	background: transparent;
	border: 0px;
	color: #969595;
}
.top-widget-footer .inner-widget .list-group-item span{
    font-size: 11px;
    color: #6b6b6b;
}
.top-widget-footer .inner-widget .nav-link {
    padding-left: 0px;
    color: #969595;
}
.top-widget-footer .inner-widget .nav-link:hover, .top-widget-footer .inner-widget .nav-link:focus{
	color: #ffc178;
}
.top-widget-footer .inner-widget form{
	width: 100%;
}
.top-widget-footer .inner-widget form .form-control{
	/*padding: 10px auto;*/
	border-radius: 0;
	border: 1px solid #fff;
	font-size: 16px;
	font-weight: 400;
	/*position: relative;*/
}
.top-widget-footer .inner-widget form .form-control:hover, .top-widget-footer .inner-widget form .form-control:focus{
	border: 1px solid #ffc178;
	box-shadow: none;
	outline: none;
}
.top-widget-footer .inner-widget form .btn-primary{
	padding: 9px 20px;
	border-radius: 0;
	border: 1px solid #ffc178;
	position: absolute;
	right: 5%;
	bottom: 26%;
	font-size: 12px;
	font-weight: 300;
	background: #ffc178;
	transition: 1s ease-in-out;
}
.top-widget-footer .inner-widget form .btn-primary:hover{
	background: #fff;
	color: #ffc178;
	box-shadow: none;
	outline: none;
}
/***************************/
.main-footer-area{
	width: 100%;
	padding: 20px 0px 10px;
	background: #1d232e;
	color: #56585b;
}
.main-footer-area .col-md-6{
	padding-right: 0px;
}
.main-footer-area .footer-menu{
	width: 100%;
	text-align: right;
	padding-right: 0px; 
}
.main-footer-area .footer-menu li{
	display: inline-block;
	list-style: none;
}
.main-footer-area .footer-menu li a{
	font-size: 15px;
	color: #56585b;
	margin: 0px 20px 0px 0px;
}
.main-footer-area .footer-menu li a:hover{
	color: #969595;
}
/*Responsive starts here*/

	/* 
	  ##Device = Tablets, Ipads (portrait)
	  ##Screen = B/w 768px to 1024px
	*/

	@media (min-width: 768px) and (max-width: 1024px) {
	  
		.header-section .btn-info {
    		margin-left: 12px;
    		margin-top: 12px;
    	}
    	.header-section img{
			margin-left: 20px;
		} 
		.service-inner img{
			width: 90px;
		}  
		.top-widget-footer .inner-widget form .form-control {
    		font-size: 12px;
	  	}
	  	.header-section .navbar-light .navbar-nav .nav-link{
	  		padding-bottom: 2px;
	  	}
	  	.header-section .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	  		border-bottom: 0px;
	  	}
	  	.feature-section .title p {
		    margin-bottom: 50px;
		}
	  	.service-inner h4 {
    		font-size: 17px;
    		padding-top: 15px;
    	}
    	.limitless .img-fluid {
		    margin-left: -15px;
		}
		.inner-text h2 {
		    font-size: 28px;
		    line-height: 40px;
		}
		.inner-text p {
		    font-size: 11px;
		    line-height: 22px;
		    font-weight: 500;
		}
		.around {
    		padding: 25px 0px;
		}
		.hours {
		   margin-left: -15px;
		}
		.hours h1 {
	   		font-size: 35px;
	   		margin-top: -15px;
		}	
		.courses h1 {
    		font-size: 35px;
    	    margin-top: -15px;
    	}
    	.students h1 {
    		font-size: 35px;
    	    margin-top: -15px;
    	}
    	.around .title {
		    padding: 0px 0px 30px;
		}
		.around .card-body {
		    padding: .5rem;
		}
		.around .card-title {
		    font-size: 10px;
		    line-height: 20px;
		}
		.around .card-text {
		    font-size: 10px;
		}
		.around .mbot .card-text {
		    margin-bottom: 8px;
    		line-height: 16px;
		}
		.around .btn-link {
		    font-size: 12px;
		}
		.top-widget-footer .inner-widget img {
		    margin-bottom: 15px;
		    width: 130px;
		}
		.top-widget-footer .col-sm-4 {
		    padding-right: 0px;
		    padding-left: 0px;
		}
		.top-widget-footer .inner-widget hr {
		    width: 87%;
		}
		.top-widget-footer .inner-widget .social-icons li a {
		    font-size: 17px;
		    margin: 0px 10px 0px 0px;
		}
		.top-widget-footer .inner-widget p {
		    font-size: 9px;
		}.top-widget-footer .inner-widget h4 {
		    font-size: 13px;
		    margin-bottom: 24px;
		}
		.top-widget-footer .inner-widget .list-group-item {
		    font-size: 10px;
		    padding: 2px 0px;
		}
		.top-widget-footer .inner-widget .list-group-item span {
		    font-size: 9px;
		}
		.top-widget-footer .inner-widget .nav-link {
		   	font-size: 10px;
		    padding-bottom: 0px;
		    margin-top: -4px;
		}
		.top-widget-footer .inner-widget form .btn-primary {
		    padding: 7px 10px;
		    right: -4%;
		    bottom: 25%;
		    font-size: 10px;
    	}
    	.main-footer-area .footer-menu li a {
		    font-size: 12px;
		    margin: 0px 8px 0px 0px;
		}
		.copy-right{
			margin-left: -5px;
			font-size: 12px;
		}
		.f{
			margin-left: -35px;
		}
		.i{
			margin-left: 14px;
		}
    }
	/* 
	  ##Device = Tablets, Ipads (landscape)
	  ##Screen = B/w 768px to 1024px
	*/

	@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	  	.header-section {
		    padding-top: 20px;
		}
    	.header-section img{
			margin-left: 0px;
		} 
	  	.header-section .btn-info {
		    margin-top: 0;
		}
	  	.service-inner img {
		    width: 130px;
		}
	  	.around .mbot .card-text {
		    margin-bottom: 17px;
		    line-height: 22px;
		}
		.top-widget-footer .inner-widget form .btn-primary {
		    right: 4%;
		    bottom: 25%;
		    font-size: 11px;
		}
		.top-widget-footer .inner-widget p {
		    font-size: 11px;
		}
		.top-widget-footer .inner-widget .list-group-item {
		    font-size: 11px;
		    padding: 4px 0px 0px;
		}
		.top-widget-footer .inner-widget .nav-link {
		    font-size: 11px;
		}
		.main-footer-area .footer-menu{
		    margin-left: -15px;
		}
	}

	/* 
	  ##Device = Most of the Smartphones Mobiles (Portrait)
	  ##Screen = B/w 320px to 479px
	*/

	@media (min-width: 320px) and (max-width: 480px) {
	  	
	  	.header-section img{
	  		width: 50px;
	  	}
	  	.header-section .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	  		border-bottom: 0px;
	  	}
	  	.navbar-light .navbar-toggler {
		    color: rgba(0,0,0,.5);
		    border-color: rgba(0,0,0,.1);
		    font-size: 14px;
		}
		.header-section .btn-info {
		    padding: 8px 15px;
		    font-size: 14px;
		    margin-top: 9px;
		}
		.header-section .banner {
		    width: 100%;
		    padding: 60px 0px 0px;
		}
		.header-section .banner .banner-inner{
		    padding-top: 70px;
		}
		.header-section .banner .banner-inner h1 {
		    font-size: 24px;
		    line-height: 28px;
		    text-align: center;
		}
		.header-section .banner .banner-inner p {
		    font-size: 12px;
		    line-height: 24px;
		    color: #5a6e79;
		    text-align: center;
		}
		.header-section .banner .banner-inner .btn-info {
		    padding: 8px 20px;
		    margin-top: 5px;
		    margin-left: 95px;
		    font-size: 14px;
		}
		.feature-section .title h1 {
		    font-size: 22px;
		    line-height: 35px;
		}
		.feature-section .title p {
		    font-size: 12px;
		    line-height: 20px;
		    padding: 0px 40px 40px;
		}
		.feature-section .service-inner {
		    margin-bottom: 15px;
		}
		.feature-section .service-inner img{
			width: 180px;
		}
		.feature-section .service-inner h4{
			font-size: 20px;
		}
		.limitless .img-fluid {
		    margin-left: 0px;
		    margin-top: -41px;
		}
		.inner-text h2 {
		    font-size: 24px;
		    line-height: 35px;
		    padding-bottom: 15px;
		    text-align: center;
		    margin-top: 30px;
		}
		.inner-text p {
		    font-size: 11px;
		    line-height: 22px;
		    text-align: center;
		}
		.inner-text h1{
			text-align: center;
		}
		.inner-text .students{
			padding: 5px 0px;
		}
		.inner-text .hours{
			padding: 5px 0px;
		}
		.inner-text .courses{
			padding: 5px 0px;
		}
		.around {
		   	padding: 30px 0px;
		}
		.around .title {
		   	padding: 0px 0px 30px;
		}
		.around .title h2{
			font-size: 25px;
		}
		.top-widget-footer {
		    padding: 55px 0px;
		    text-align: center;
		}
		.top-widget-footer .inner-widget h4 {
		    font-size: 15px;
		    margin-bottom: 10px;
		    margin-top: 30px;
		}
		.top-widget-footer .inner-widget .list-group-item {
		    font-size: 13px;
		    padding: 5px 0px;
		}
		.top-widget-footer .inner-widget p {
		    font-size: 13px;
		}
		.top-widget-footer .inner-widget .nav-link {
    		padding: 4px;
		    font-size: 13px;
		}
		.top-widget-footer .inner-widget form .btn-primary {
		    padding: 9px 20px;
		    position: absolute;
		    right: 8%;
		    bottom: 0%;
		    font-size: 11px;
		}
		.top-widget-footer .inner-widget form .form-control {
		    font-size: 15px;
		    position: relative;
		    left: 8%;
		}
		.main-footer-area {
		    font-size: 11px;
		    padding: 15px 0px 5px;
		    text-align: center;
		}
		.main-footer-area .footer-menu li a {
		    font-size: 12px;
		    margin: 0px 10px 0px 0px;
		}
	}

	/* 
	  ##Device = Low Resolution Tablets, Mobiles (Landscape)
	  ##Screen = B/w 481px to 767px
	*/

	@media (min-width: 481px) and (max-width: 767px) {
	  
	 	
	  	.header-section .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	  		border-bottom: 0px;
	  	}
	  	.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid, .navbar-expand-lg>.container-lg, .navbar-expand-lg>.container-md, .navbar-expand-lg>.container-sm, .navbar-expand-lg>.container-xl {
		    padding-right: 0;
		    padding-left: 14px;
		}
		.header-section .btn-info {
		    padding: 8px 15px;
		    font-size: 14px;
		    margin-top: 9px;
		}
		.header-section .banner {
		    width: 100%;
		    padding: 135px 0px 0px;
		}
		.header-section .banner .banner-inner h1 {
		    font-size: 24px;
		    line-height: 28px;
		}
		.header-section .banner .banner-inner p {
		    font-size: 12px;
		    line-height: 24px;
		    color: #5a6e79;
		}
		.header-section .banner .banner-inner .btn-info {
		    padding: 8px 20px;
		    margin-top: 5px;
		    font-size: 14px;
		}
		.feature-section .title h1 {
		    font-size: 22px;
		    line-height: 35px;
		}
		.feature-section .title p {
		    font-size: 12px;
		    line-height: 20px;
		    padding: 0px 40px 40px;
		}
		.feature-section .service-inner {
		    margin-bottom: 15px;
		}
		.feature-section .service-inner img{
			width: 180px;
		}
		.feature-section .service-inner h4{
			font-size: 20px;
		}
		.limitless .img-fluid {
		    margin-left: 0px;
		    margin-top: -41px;
		}
		.inner-text h2 {
		    font-size: 24px;
		    line-height: 35px;
		    padding-bottom: 15px;
		    text-align: center;
		    margin-top: 30px;
		}
		.inner-text p {
		    font-size: 11px;
		    line-height: 22px;
		    text-align: center;
		}
		.inner-text h1{
			text-align: center;
		}
		.inner-text .students{
			padding: 5px 0px;
		}
		.inner-text .hours{
			padding: 5px 0px;
		}
		.inner-text .courses{
			padding: 5px 0px;
		}
		.around {
		   	padding: 30px 0px;
		}
		.around .title {
		   	padding: 0px 0px 30px;
		}
		.around .title h2{
			font-size: 25px;
		}
		.top-widget-footer {
		    padding: 55px 0px;
		    text-align: center;
		}
		.top-widget-footer .col-sm-4 {
		    padding-right: 0px;
		    padding-left: 4px;
		}
		.top-widget-footer .inner-widget h4 {
		    font-size: 14px;
		    margin-bottom: 10px;
		}
		.top-widget-footer .inner-widget img {
		    margin-bottom: 9px;
		    width: 100px;
		}
		.top-widget-footer .inner-widget .list-group-item {
		    font-size: 10px;
		    padding: 3px 0px;
		}
		.top-widget-footer .inner-widget p {
		    font-size: 10px;
		}
		.top-widget-footer .inner-widget .nav-link {
		    padding: 3px;
		    font-size: 11px;
		}
		.top-widget-footer .inner-widget .list-group-item span {
		    font-size: 9px;
		    color: #6b6b6b;
		}
		.top-widget-footer .inner-widget .social-icons {
		    width: 100%;
		    margin-left: 4px;
		}
		.top-widget-footer .inner-widget .social-icons li a {
		    font-size: 20px;
		    color: #4a4a4a;
		    margin: 5px 15px 0px 11px;
		}
		.top-widget-footer .inner-widget form .btn-primary {
		    padding: 9px 20px;
		    position: absolute;
		    right: 21%;
		    bottom: 0%;
		    font-size: 11px;
		}
		.top-widget-footer .inner-widget form .form-control {
		    font-size: 15px;
		    position: relative;
		    left: 45%;
		}
		.main-footer-area {
		    font-size: 11px;
		    padding: 15px 0px 5px;
		    text-align: center;
		}
		.main-footer-area .footer-menu li a {
		    font-size: 12px;
		    margin: 0px 10px 0px 0px;
		}
	  
	}