*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
/********************************/
.header-section{
	width: 100%;
	background: url("../images/bg.png") center center no-repeat;
	background-size: cover;
}
.header-section .menu{
	width: 100%;
}
.header-section .menu .bg-light{
	background: transparent !important;
}
.header-section .navbar-light .navbar-nav .nav-link {
    color: #5a6e79;
    margin: 0px 12px;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 0px;
}
.header-section .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ffc178 !important;
    outline: none;
    border-bottom: 1px solid #ffc178; 
}
.header-section .menu .btn-info{
	padding: 10px 35px;
	background: #fff;
	color: #ffc178;
	border: 1px solid #fff;
	border-radius: 30px;
	font-size: 16px;
	margin-left: 10px;
	transition: 1s ease-in-out;
}
.header-section .menu .btn-info:hover, .header-section .menu .btn-info:focus{
	background: #ffc178;
	color: #fff;
	border: 1px solid #ffc178;
	box-shadow: none;
}
/*********************************/
.header-section .banner{
	width: 100%;
	padding: 100px 0px 210px;
}
.header-section .banner .banner-inner{
	width: 100%;
	padding: 0px 0px 150px;
}
.header-section .banner .banner-inner h1{
	font-size: 38px;
	line-height: 48px;
	font-weight: 700;
	color: #ffc178;
}
.header-section .banner .banner-inner p{
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	color: #5a6e79;
}
.header-section .banner .banner-inner .btn-info{
	padding: 10px 35px;
	margin-top: 10px;
	background: #ffc178;
	color: #fff;
	border: 1px solid #ffc178;
	border-radius: 30px;
	font-size: 16px;
	transition: 1s ease-in-out;
}
.header-section .banner .banner-inner .btn-info:hover, .header-section .banner .banner-inner .btn-info:focus{
	background: #fff;
	color: #ffc178;
	border: 1px solid #ffc178;
	box-shadow: none;
}
/*****************************************/
.feature-section{
	width: 100%;
	padding: 0px 0px 30px;
	text-align: center;
}
.feature-section .title h1{
	font-size: 38px;
	line-height: 48px;
	font-weight: 700;
	color: #000;
	background: transparent !important;
}
.feature-section .title p{
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	color: #5a6e79;
}
.feature-section .service-inner{
	width: 100%;
	padding: 50px 35px;
	text-align: center;
}
.feature-section .bg-1{
	background-color: #f9703a;
}
.feature-section .bg-2{
	background-color: #80be41;
}
.feature-section .bg-3{
	background-color: #ffb258;
}
.service-inner h4{
	font-size: 24px;
	color: #fff;
	font-weight: 600;
}

.limitless{
	width: 100%;
	padding: 80px 0px 0px;
}
.limitless .img-fluid{
	margin-left: -60px;
}
.limitless .inner-text{
	width: 100%;
}
.inner-text h2{
	font-size: 38px;
	line-height: 48px;
	font-weight: 700;
	color: #000;
	padding-bottom: 15px;
}
.inner-text p{
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	color: #5a6e79;
}
.students{
	width: 100%;
	padding: 20px 0px;
}
.courses{
	width: 100%;
	padding: 20px 0px;
}
.hours{
	width: 100%;
	padding: 20px 0px;	
}
.students h1{
	font-size: 40px;
	font-weight: 700;
	color: #ffba00;
	margin-bottom: -5px;
}
.courses h1{
	font-size: 40px;
	font-weight: 700;
	color: #ff5f72;
	margin-bottom: -5px;
}
.hours h1{
	font-size: 40px;
	font-weight: 700;
	color: 	#43cb83;
	margin-bottom: -5px;
}
.students p{
	font-size: 18px;
	font-weight: 400;
	color: #ffba00;
	text-transform: uppercase;
}
.courses p{
	font-size: 18px;
	font-weight: 400;
	color: #ff5f72;
	text-transform: uppercase;
}
.hours p{
	font-size: 18px;
	font-weight: 400;
	color: 	#43cb83;
	text-transform: uppercase;
}
/*********************************/
.around{
	width: 100%;
	padding: 40px 0px;
}
.around .title{
	width: 100%;
	padding: 0px 0px 55px;
	text-align: center; 
}
.around .title h1{
	font-size: 38px;
	line-height: 48px;
	font-weight: 700;
	color: #000;
}
.around .card{
	margin: 15px 0px;
}
.around .card-title{
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
}
.around .card-body{
	padding: 1rem;
}
.around .card-text{
	font-size: 12px;
	color: #5a6e79;
}
.around .btn-link{
	padding-left: 0px;
	color: #5a6e79;
	text-decoration: none; 
}
.around .card:hover .card-title{
	color: #ffc178;
	text-decoration: underline; 
}
.around .card:hover .btn-link{
	color: #000; 
}
/*************************************/
.footer-section{
	width: 100%;
}
.top-widget-footer{
	width: 100%;
	padding: 80px 0px;
	background: #252c3a;
}
.top-widget-footer .inner-widget{
	width: 100%;
}
.top-widget-footer .col-sm-4{
	padding-right: 5px;
}
.top-widget-footer .inner-widget img{
	margin-bottom: 20px; 
}
.top-widget-footer .inner-widget p{
	font-size: 14px;
	color: #969595;
	margin-bottom: 15px;
}
.top-widget-footer .inner-widget hr{
	background: #4a4a4a;
}
.top-widget-footer .inner-widget .social-icons{
	width: 100%;
}
.top-widget-footer .inner-widget .social-icons li{
	display: inline-block;
	list-style: none;
}
.top-widget-footer .inner-widget .social-icons li a{
	font-size: 18px;
	color: #4a4a4a;
	margin: 0px 15px 0px 0px;
}
.top-widget-footer .inner-widget .social-icons li a .fa-twitter:hover{
	color: #1DA1F2;
}
.top-widget-footer .inner-widget .social-icons li a .fa-linkedin-square:hover{
	color: #007BB6;
}
.top-widget-footer .inner-widget .social-icons li a .fa-facebook-square:hover{
	color: #3B579D;
}
.top-widget-footer .inner-widget .social-icons li a .fa-skype:hover{
	color: #028CCA;
}
.top-widget-footer .inner-widget .social-icons li a .fa-pinterest-square:hover{
	color: #E71A21;
}
.top-widget-footer .inner-widget .social-icons li a .fa-apple:hover{
	color: #666666;
}
.top-widget-footer .inner-widget h4{
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 30px;
}
.top-widget-footer .inner-widget .list-group-item{
	font-size: 14px;
	position: relative;
	display: block;
	padding: 8px 0px;
	background: transparent;
	border: 0px;
	color: #969595;
}
.top-widget-footer .inner-widget .list-group-item span{
    font-size: 11px;
    color: #6b6b6b;
}
.top-widget-footer .inner-widget .nav-link {
    padding-left: 0px;
    color: #969595;
}
.top-widget-footer .inner-widget .nav-link:hover, .top-widget-footer .inner-widget .nav-link:focus{
	color: #ffc178;
}
.top-widget-footer .inner-widget form{
	width: 100%;
}
.top-widget-footer .inner-widget form .form-control{
	/*padding: 10px auto;*/
	border-radius: 0;
	border: 1px solid #fff;
	font-size: 16px;
	font-weight: 400;
	/*position: relative;*/
}
.top-widget-footer .inner-widget form .form-control:hover, .top-widget-footer .inner-widget form .form-control:focus{
	border: 1px solid #ffc178;
	box-shadow: none;
}
.top-widget-footer .inner-widget form .btn-primary{
	padding: 9px 20px;
	border-radius: 0;
	border: 1px solid #ffc178;
	position: absolute;
	right: 5%;
	bottom: 26%;
	font-size: 12px;
	font-weight: 300;
	background: #ffc178;
	transition: 1s ease-in-out;
}
.top-widget-footer .inner-widget form .btn-primary:hover{
	background: #fff;
	color: #ffc178;
	box-shadow: none;
}
/***************************/
.main-footer-area{
	width: 100%;
	padding: 20px 0px 10px;
	background: #1d232e;
	color: #56585b;
}
.main-footer-area .col-md-6{
	padding-right: 0px;
}
.main-footer-area .footer-menu{
	width: 100%;
	text-align: right;
	padding-right: 0px; 
}
.main-footer-area .footer-menu li{
	display: inline-block;
	list-style: none;
}
.main-footer-area .footer-menu li a{
	font-size: 15px;
	color: #56585b;
	margin: 0px 20px 0px 0px;
}
.main-footer-area .footer-menu li a:hover{
	color: #969595;
}